html, body{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
}
#hfix{
	height:900px;
	width:900px;
	margin-right:auto;
	margin-left:auto;
}
.topb{
	background-color:#000;
	width:100%;
	height:50px;
}
.homex{
	position: absolute;
	top: 0px;
	z-index: 999;
	left: 80%;
	cursor: pointer;
	width:43px;
	height:50px;
	background-image:url('home2.png');
}
.titlex{
	float:left;
	font-family:Anton, sans-serif;
	font-size:72px;
	color:#000;
	margin:10px 0 30px -50px;
	display:block;
	height:85px;
	width:380px;
}
ul.pagination{
	margin:0;
}
li{
	margin:0;
	border-radius:0;
}
.searchx{
	margin-top:180px;
	width:309px;
	margin-right:auto;
	margin-left:auto;
	height:400px;
	text-align:center;
}
.flickrLogo{
	float:left;
	margin:-4px 0 0 -38px;
	width:38px;
	height:39px;
	background-image:url('flickrLogo.png');
}

input[type='text'] {
	float:left;
    background-image: url(search.png);
    background-repeat: no-repeat;
    background-position: 450px;
	width:495px;
	margin-left:-105px;
}
#subId{
	float:left;
	margin:75px 0 0 -72px;
}
#perPage{
	float:left;
	width:76px;
	margin:15px 0 0 105px;
}
.containerv{
	height:auto;
	min-height:100%;
	width:900px;
	margin-right:auto;
	margin-left:auto;
	font-size:12px;
}
.lettera{
	color:#0063db;
}
.letterc{
	color:#ff0084;
}
.centerx{
	width:615px;
	margin-right:auto;
	margin-left:auto;
	height:48px;
	text-align:center;
	font-size:14px;
}
.titleColor{
	color:#ffb000;
}

.centerx bold{
	margin:0 3px 0 3px;
}
.results{
	width:751px;
	height:800px;
	position:relative;
	margin:0 auto 0 auto;
}
.results2{
	width:751px;
	height:3000px;
	position:relative;
	margin:0 auto 0 auto;
}
.results3{
	width:751px;
	height:5000px;
	position:relative;
	margin:0 auto 0 auto;
}
.undertitle{
	font-style:italic;
}
.spacingfix{
	margin:15px 5px 15px 5px;
}
.cont{
	width:150px;
	height:150px;
	background-color:#b2b2b2;
}
.imgp{
	width:150px;
	height:40px;
	color:#fff;
	background-color:#000;
	font-size:10px;
	display:none;
	margin-top:-40px;
	opacity:.8;
	overflow:hidden;
	padding:10px 10px 0 10px;
	text-align:center;
}
.imgp a{
	color:#fff;
}
.imgp a:hover{
	text-decoration:none;
	color:#fff;
}
.imgp:hover{
	display:block;
}
.cam_icon{
	background-image:url('cam_icon.png');
	height:28px;
	width:30px;
	float:left;
}
.cam_icon:hover{
	background-image:url('cam_icon_over.png');
	height:28px;
	width:30px;
}
.user_icon{
	background-image:url('user_icon.png');
	height:28px;
	width:30px;
	float:right;
}
.user_icon:hover{
	background-image:url('user_icon_over.png');
	height:28px;
	width:30px;
}
.cont:hover + .imgp{
	display:block;
}
.rowcount{
	height:750px;
	width:150px;
	margin-right:auto;
	margin-left:auto;
	float:left;
}
.loadingGif{
    display:none;
	background-image:url('loading.gif');
	height:128px;
	width:123px;
	margin:0 auto 0 auto;
}