html, body{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
}
#hfix{
	height:900px;
	width:900px;
	margin-right:auto;
	margin-left:auto;
	border-right:1px;
	border-left:1px;
	border-top:0;
	border-bottom:0;

}
.containerv{
	height:auto;
	min-height:100%;
	width:900px;
	margin-right:auto;
	margin-left:auto;
	border-right:1px;
	border-left:1px;
	border-top:0;
	border-bottom:0;
	font-size:12px;
	border-style:solid;
	border-color:#cbcbcb;

}
.searchx{
	width:159px;
	margin-right:auto;
	margin-left:auto;
	height:280px;
	text-align:center;
}
.lettera{
	color:#0063db;
}
.letterc{
	color:#ff0084;
}
.centerx{
	width:360px;
	margin-right:auto;
	margin-left:auto;
	padding-top:15px;
	height:60px;
	text-align:center;
	font-size:14px;
}
.centerx a{
	text-decoration:underline;
	margin:15px 3px 15px 3px;
	color:#0059c5;
}
.centerx bold{
	margin:0 3px 0 3px;
}
.results{
	width:751px;
	height:900px;
	position:relative;
	margin:0 auto 0 auto;
}
.results2{
	width:751px;
	height:3000px;
	position:relative;
	margin:0 auto 0 auto;
}
.results3{
	width:751px;
	height:5000px;
	position:relative;
	margin:0 auto 0 auto;
}
.undertitle{
	font-style:italic;
}
.spacingfix{
	margin:15px 5px 15px 5px;
}
.cont{

	width:150px;
	height:150px;
	background-color:#b2b2b2;
}
.imgp{
	width:150px;
	height:40px;
	color:#fff;
	background-color:#000;
	font-size:10px;
	display:none;
	margin-top:-40px;
	opacity:.8;
	overflow:hidden;
	padding:10px 10px 0 10px;
	text-align:center;
}
.imgp a{
	color:#fff;
}
.imgp a:hover{
	text-decoration:none;
	color:#fff;
}
.imgp:hover{
	display:block;
}
.cam_icon{
	background-image:url('cam_icon.png');
	height:28px;
	width:30px;
	float:left;
}
.cam_icon:hover{
	background-image:url('cam_icon_over.png');
	height:28px;
	width:30px;
}
.user_icon{
	background-image:url('user_icon.png');
	height:28px;
	width:30px;
	float:right;
}
.user_icon:hover{
	background-image:url('user_icon_over.png');
	height:28px;
	width:30px;
}
.cont:hover + .imgp{
	display:block;
}
.rowcount{
	height:750px;
	width:150px;
	margin-right:auto;
	margin-left:auto;
	background-color:#000;
	float:left;
}
